<h1 class="title">Formulaire d'inscription aux cours d'allemand</h1>
<p-button>Test</p-button>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
    <fieldset  class="section">
        <legend class="section-title">Informations Personnelles</legend>      
        <div>
            <label class="required-asterisk">Votre Nom :
                <input pInputText formControlName="nom">
                <small geek-error-messages control="nom" class="p-error"></small>
            </label>
        </div>
        <div>
            <label class="required-asterisk">Votre Prénom :
                <input pInputText formControlName="prenom">
                <small geek-error-messages control="sexe" class="p-error"></small>
            </label>
        </div>
        <div class="grid">
            <div class="col-12 md:col-6 pr-3">
                <label class="required-asterisk"> Date :
                    <input type="date" formControlName="date" class="date-input">
                    <small geek-error-messages control="sexe" class="p-error"></small>
                </label>
            </div>
            <div class="col-12 md:col-6 p-2">
                <label class="required-asterisk">Sexe : 
                    <select formControlName="sexe" >
                        <option *ngFor="let sexe of Sexe | keyvalue" [value]="sexe.value">{{ sexe.value }}</option>
                    </select>
                    <small geek-error-messages control="sexe" class="p-error"></small>
                </label>               
            </div>       
        </div>
        <div class="grid">
            <div class="col-12 md:col-6 pr-3">
                <label class="required-asterisk">Votre E-Mail :
                    <input pInputText type="email" formControlName="email">
                    <small geek-error-messages control="email" class="p-error"></small>
                </label>
            </div>
            <div class="col-12 md:col-6 p-2">
                <label class="required-asterisk">Votre numéro de téléphone :
                    <input type="tel" formControlName="numero">
                    <small geek-error-messages control="adresse" class="p-error"></small>
                </label>
            </div>       
        </div>
        <div class="grid">
            <div class="col-12 md:col-6 pr-3" >
                <label class="required-asterisk">Votre pays de résidence actuel :
                    <select formControlName="pays">
                        <option *ngFor="let pays of Pays | keyvalue" [value]="pays.value">{{ pays.value }}</option>
                    </select> 
                    <small geek-error-messages control="adresse" class="p-error"></small>
                </label>
            </div>
            <div class="col-12 md:col-6 p-2">
                <label class="required-asterisk">Ville et quartier de résidence actuelle :
                    <input type="text" formControlName="adresse">
                    <small geek-error-messages control="adresse" class="p-error"></small>
                </label>
            </div>       
        </div>
    </fieldset>
    <fieldset class="section">
        <legend class="section-title">Niveau de Langue</legend>
        <div class="grid">
            <div class="col-12 md:col-6 pr-3">
                <label class="required-asterisk">Pourquoi voulez-vous faire les cours d'allemand ?
                    <select formControlName="raisonInscription" class="full-width">
                        <option *ngFor="let raisonInscription of RaisonInscription | keyvalue" [value]="raisonInscription.value">{{ raisonInscription.value }}</option>
                    </select>
                    <small geek-error-messages control="raisonInscription" class="p-error"></small>
                </label>
            </div>
            <div class="col-12 md:col-6 p-2">
                <label class="required-asterisk">Date de début de cours souhaitée :
                    <input type="date" formControlName="dateDebutCours" class="full-width date-input">
                    <small geek-error-messages control="dateDebutCours" class="p-error"></small>
                </label>
            </div>       
        </div>   
        <div class="grid">
            <div class="col-12 md:col-6 pr-3">
                <label class="required-asterisk">Votre niveau de langue actuel :
                    <select formControlName="niveauLangueActuel" class="full-width">
                        <option *ngFor="let niveau of NiveauLangue | keyvalue" [value]="niveau.value">{{ niveau.value}}</option>
                    </select>
                    <small geek-error-messages control="niveauLangueActuel" class="p-error"></small>
                </label>
            </div>
            <div class="col-12 md:col-6 p-2">
                <label class="required-asterisk">Niveau où vous souhaitez vous inscrire : 
                    <select formControlName="niveauLangueInscription" class="full-width">
                        <option *ngFor="let niveau of NiveauLangue | keyvalue" [value]="niveau.value">{{ niveau.value}}</option>
                    </select>
                    <small geek-error-messages control="niveauLangueInscription" class="p-error"></small>
                </label>
            </div> 
        </div>
    </fieldset>  
    <fieldset class="section">
        <legend class="section-title">Niveau d'Étude et Formation</legend>
        <div class="grid">
            <div class="col-12 md:col-6 pr-3" >
                <label class="required-asterisk">Niveau d'étude :
                    <select formControlName="niveauEtude">
                        <option *ngFor="let niveau of NiveauEtude | keyvalue" [value]="niveau.value">{{ niveau.value }}</option>
                    </select>
                    <small geek-error-messages control="niveauEtude" class="p-error"></small>
                </label>
            </div>
            <div class="col-12 md:col-6 p-2">
                <label class="required-asterisk">Année d'obtention du diplôme le plus élevé : :
                    <input type="date" formControlName="dateHautDiplom" class="full-width date-input">
                    <small geek-error-messages control="dateHautDiplom" class="p-error"></small>
                </label>
            </div>      
        </div>
        <div>
            <label class="required-asterisk">Spécialité :
                <input type="text" formControlName="specialite">
                <small geek-error-messages control="specialite" class="p-error"></small>
            </label>
        </div>
    </fieldset>
    <fieldset  class="section">
        <legend class="section-title">Informations Supplémentaires</legend>
        <div>
            <label>Numéro de téléphone et nom de la personne ayant recommandé nos services :
                <input type="text" formControlName="infoRecommandataire">
            </label>
        </div>
        <div>
            <label>Avez-vous un message à ajouter :
                <textarea class="textarea" formControlName="messageSupplementaire"></textarea>
            </label>
        </div>
    </fieldset>
    <button type="submit">Submit</button>
</form>
  

